<form action="{{ path('contacts_list') }}" class="navbar-form navbar-left">
    <div class="input-group">
        <input type="search" class="form-control" placeholder="Search for a contact" name="q" value="{{ query }}">
        <button class="btn btn-outline-secondary" type="submit"><em class="fa fa-search"></em></button>
    </div>
</form>