$fa-font-path: "~font-awesome/fonts";

@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/scss/font-awesome.scss';
@import 'login/login';

body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 100vh;

    > .navbar {
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3), 2px 0 5px rgba(0, 0, 0, 0.5);
    }
}