{% extends '@App/layout.html.twig' %}

{% block content %}

    <div class="row mt-3">
        <div class="col-6 col-xl-4 offset-xl-4">
            <h1 class="login-title">Log in to continue to my Addressbook Application</h1>
            <p class="login-note">It is neccessary to login to keep your data safe. See the READ.ME for credentials.</p>
            <div class="login-card mt-3">
                <form class="form-signin" action="{{ path('login') }}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required autofocus />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><em class="fa fa-lock"></em></span>
                        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <input type="hidden" name="_target_path" value="/admin/contacts" />
                    <button class="btn btn-primary">Login</button>
                    {% if error %}
                        <div class="alert alert-danger">
                            <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
